body{
  background-color: #282c34;
}
/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Default (Extra Small Devices, Phones) */
.content > * {
  flex: 1 1 100%; /* 1 column by default */
}

/* Small Devices, Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .content > * {
    flex: 1 1 calc(50% - 20px); /* 2 columns on small devices */
  }
}

/* Medium Devices, Desktops */
@media (min-width: 769px) and (max-width: 992px) {
  .content > * {
    flex: 1 1 calc(25% - 20px); /* 4 columns on medium devices */
  }
}

/* Large Devices, Large Desktops */
@media (min-width: 993px) {
  .content > * {
    flex: 1 1 calc(16.66% - 20px); /* 6 columns on large devices */
  }
}

/* Additional styling for items */
.content > * {
  background: #fff; /* Example background */
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


/* src/components/Header.css */
.header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
  background-color: #282c34;
  color: white;
  position: relative; /* Fixed position to keep it at the top */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}


.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 40px; /* Adjust spacing between links */
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline; /* Underline on hover */
}
.buttons{
  justify-content: space-between;
  margin-right: 30px;
}
.favorites-button {
  padding: 10px 20px; /* Adjust padding */
  background-color: #e74eb4; /* Button background color */
  color: #282c34; /* Button text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  align-items: end;
  justify-content: space-between;
  margin-right: 30px;
}

.favorites-button:hover {
  background-color: #4ca3dd; /* Darker background color on hover */
}

.Home-button{
  padding: 10px 20px; /* Adjust padding */
  background-color: #e74eb4; /* Button background color */
  color: #282c34; /* Button text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  align-items: end;
}
.Home-button:hover {
  background-color: #4ca3dd; /* Darker background color on hover */
}



/* src/components/FavoritesModal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative; /* Ensure absolute positioning of close button is relative to modal */
  background: #282c34; /* Match header background color */
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: scroll; /* Ensure scrolling is enabled */
  color: white; /* Match header text color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
}

/* Hide scrollbar for Webkit browsers */
.modal-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.modal-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px; /* Adjust padding */
  background-color: crimson; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
  z-index: 1001; /* Ensure it's above the modal content */
}

.close-button:hover {
  background-color: #a30000; /* Darker background color on hover */
}

.sort-options {
  margin-bottom: 20px;
  color: white; /* Match header text color */
}

.favorites-list-container {
  overflow-y: auto;
}

.show-group {
  margin-bottom: 20px;
}

.season-group {
  margin-left: 20px;
  margin-bottom: 10px;
}

.favorites-list {
  list-style-type: none;
  padding: 0;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.favorite-item h5 {
  margin: 0;
}

.favorite-item button {
  background: #f436a5;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.favorite-item button:hover {
  background: #da2ea6;
}

.clear-all {
  background: #fc3628;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.clear-all:hover {
  background: #d32f2f;
}

/* src/components/PodcastDetailsPage.css */

.podcast-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #666;
}

.podcast-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
  counter-reset: rgb(241, 121, 205);
}

.player-container {
  margin: 20px 0;
  position: fixed;
  top: 80px;
  left: 0;
  width: 30%;
  background: transparent;
  z-index: 1000;
  padding: 10px;
  box-sizing: border-box;
  height: 20%;
}

.podcast-description {
  margin-bottom: 20px;
}

.seasons-container {
  display: flex;
  gap: 30px;
  overflow-y: auto; /* Enable horizontal scrolling */
  white-space:nowrap; 

}

.season-card {
  width: 100%;
  cursor: pointer;
  text-align: center;
  flex: 0 0 auto; /* Ensure each season card has its natural width */
}

.season-card img {
  width: 100%;
  border-radius: 8px;
  display: table-row;
}

.episodes-container {
  margin-top: 20px;
}

.episode-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.episode-card p {
  cursor: pointer;
  margin: 0;
  font-style: italic;
  color: #1a1919d2;
}

.episode-card button {
  background: #1b1b1b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.episode-card button:hover {
  background: #eb1993;
}

/* src/components/PodcastItem.css */
.podcast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  text-align: center;
  cursor: pointer;
}

.podcast-item:hover {
  background-color: #f0f0f0;
}

.podcast-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.podcast-title {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.podcast-genre {
  margin-top: -10px;
  font-size: 1rem;
  color: #666;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.podcast-update{
  margin-top: -10px;
  color: #666;
  white-space: nowrap; 
  width: 170px; 
  overflow: hidden;
  text-overflow: clip; 
}
/* src/components/PodcastList.css */
.podcast-list {
  padding: 20px;
  background-color: #282c34;
}

.sort-options {
  margin-bottom: 20px;
}

.sort-options button {
  margin-right: 10px;
  padding: 5px 10px;
}

.podcast-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Default (Extra Small Devices, Phones) */
.podcast-grid > * {
  flex: 1 1 100%; /* 1 column by default */
}

/* Small Devices, Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .podcast-grid > * {
    flex: 1 1 calc(50% - 20px); /* 2 columns on small devices */
  }
}

/* Medium Devices, Desktops */
@media (min-width: 769px) and (max-width: 992px) {
  .podcast-grid > * {
    flex: 1 1 calc(25% - 20px); /* 4 columns on medium devices */
  }
}

/* Large Devices, Large Desktops */
@media (min-width: 993px) {
  .podcast-grid > * {
    flex: 1 1 calc(16.66% - 20px); /* 6 columns on large devices */
  }
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  font-size: 20px;
  text-align: center;
}

.filters {
  display:grid;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #02060fd8;
  color: white; /*  text color */
  border-radius: 8px;
  margin-bottom: 20px;
}
